<?xml version="1.0" encoding="utf-8"?>
<QCCS>
  <AVRIO>
    <SBCVERSION>200</SBCVERSION>
    <CHARGINGPASS>0000</CHARGINGPASS>
    <BusinessCheck>0</BusinessCheck>
    <PASSWORD>0</PASSWORD>
    <CARDCHECK>0</CARDCHECK>
    <BusinessStimeHHH>09</BusinessStimeHHH>
    <BusinessStimeMMM>00</BusinessStimeMMM>
    <BusinessEtimeHHH>12</BusinessEtimeHHH>
    <BusinessEtimeMMM>00</BusinessEtimeMMM>
    <GridOnlyMode>False</GridOnlyMode>
    <GridInputPowerMax>2800</GridInputPowerMax>
    <LANGUAGE>0</LANGUAGE>
    <MANUPASS>8611</MANUPASS>
    <ADMINPASS>1234</ADMINPASS>
    <CHARGETIME>30</CHARGETIME>
    <Time00>22</Time00>
    <Time01>30</Time01>
    <Time02>08</Time02>
    <Time03>30</Time03>
    <Time04>28</Time04>
    <Time10>08</Time10>
    <Time11>30</Time11>
    <Time12>12</Time12>
    <Time13>30</Time13>
    <Time14>28</Time14>
    <Time20>12</Time20>
    <Time21>30</Time21>
    <Time22>14</Time22>
    <Time23>30</Time23>
    <Time24>28</Time24>
    <Time30>14</Time30>
    <Time31>30</Time31>
    <Time32>18</Time32>
    <Time33>30</Time33>
    <Time34>28</Time34>
    <Time40>18</Time40>
    <Time41>30</Time41>
    <Time42>22</Time42>
    <Time43>30</Time43>
    <Time44>28</Time44>
    <Soc00>125</Soc00>
    <Soc01>100</Soc01>
    <Soc02>60</Soc02>
    <Soc10>90</Soc10>
    <Soc11>90</Soc11>
    <Soc12>55</Soc12>
    <Soc20>75</Soc20>
    <Soc21>75</Soc21>
    <Soc22>40</Soc22>
    <Soc30>65</Soc30>
    <Soc31>65</Soc31>
    <Soc32>30</Soc32>
    <Soc40>55</Soc40>
    <Soc41>55</Soc41>
    <Soc42>20</Soc42>
    <Soc50>30</Soc50>
    <Soc51>25</Soc51>
    <Soc52>5</Soc52>
  </AVRIO>
</QCCS>